.card {
  position: relative;
}

.card img {
  width: 100%;
  height: 100%;
  display: block;
  border: 2px solid var(--brown);
  border-radius: 0.25rem;
}

.card .card-front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
  background: var(--yellow);
}

.card .card-back {
  background: var(--orange);
  transition: all ease-in 0.2s;
  transition-delay: 0.1s;
}

.flipped .card-front {
  transform: rotateY(0deg);
  transition-delay: 0.1s;
}

.flipped .card-back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
