.main {
  padding: 0 2rem;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-grid {
  margin: 0 0 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.25rem;
}

.score-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 100%;
}

button {
  color: var(--yellow);
  background: var(--brown);
  border: 2px solid var(--brown);
  border-radius: 0.25rem;
  font-size: 1.25rem;
  padding: 0.625rem;
  height: 3.5rem;
  width: 15rem;
  cursor: pointer;
}
